*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: linear-gradient(to right, #00aaff, #00ff6c );
    min-height: 100vh;
    position: relative;
}

.top-wrapper,
form,
.bottom-wrapper{
    margin-top: 40px;
}

.content{
    background: #ffffff;
    border-radius: 5px;
    padding: 15px;
}

.content h3{
    border-bottom: solid 1px #999999;
    margin: 0;
    padding-bottom: 15px;
}

.content p{
    margin: 0;
}

footer{
    bottom: 10px;
    position: absolute;
    width: 100%;
}

footer .updateInfo{
    color: #000;
    margin-left: 10px;
}
